@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}


/*General*/
.headers {
  font-family: 'Raleway', sans-serif;
}

/*NavBar*/
.nav-link:hover{
	background-color : rgba(255,255,255, 0.2);
}

.active {
	background-color : rgba(255,255,255, 0.2);
}

/*Home*/
.home-container {
	min-height: 100vh;
}

.home-name {
	font-size: 4.3rem;
}

.home-desrciption{
	font-size: 1.7rem;
  font-weight: bolder;
}


/*Contact*/
.contact-container {
	min-height: 100vh;
}

.icon {

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 14rem;
}

/*Projects*/
.projects-container {
  min-height: 100vh;
}

.projects-description {
  font-weight: bolder;
}

/*Technologies*/
.technologies-container {
  min-height: 100vh;
}

.technology-description {
  font-weight: bolder;
}



/*Media query*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	.home-name {
  		font-size: 2.5rem;
  	}

  	.home-image {
  		height: 13rem;
  		width: auto;
  	}


}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	.home-name {
  		font-size: 2.6rem;
  	}

  	.home-image {
  		height: 10rem;
  		width: auto;
  	}
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	.home-name {
  		font-size: 4rem;
  	} 

  	.home-image {
  		height: 20rem;
  		width: auto;
  	}

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	.home-name {
  		font-size: 3.8rem;
  	} 

  	.home-image {
  		height: 20rem;
  		width: auto;
  	}


}

/*Loader*/
.loader-container {
  min-height: 100vh;
}

.loader,
.loader:before,
.loader:after {
  background: black;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}


.loader {
  color: black;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
